
/* GLOBAIS */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {

    background-image: url(img/download\ \(3\).jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* CABEÇALHO */
.header-logo img {
    width: 130px;
}

.container-buttons {
    height: 50px;
    margin: 80px 60px 50px;
    display: flex;
    align-items: center;
}

.icon {
    width: 40px;
    cursor: pointer;
}

#descont::placeholder {
    padding-left: 5px;
}

.icon-Zap {
    width: 50px;
    position: fixed;
    bottom: 15px;
    right: 25px;
    cursor: pointer;
}

.header-butons {
    display: flex;
    gap: 30px;
}

.header-butons :hover {
    transform: scale(1.05);
    color: #ffffffd5;
    box-shadow: #0000003e 0px 20px 30px -10px;
}

.container-buttons {
    height: 30px;
    display: flex;
    justify-content: center;
}

#pedido {
    color: #000000c6;
    text-decoration: none;
}

.container-buttons .butons-juntos {
    background-color: #101010;
    position: fixed;
    width: 100vw;
    height: 22vh;
    padding-top: 25px;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    box-shadow: #ffffff3e 0px 20px 30px -10px;
}
button {
    background-color: #635914;
    border: none;
    border-radius: 5px;
    color: #000000e1;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 110px;
    box-shadow: #ffffff2a 0px 20px 30px -10px;
}

button:hover {
    opacity: .8;
    transition: .2s;
}

/* CORPO */
ul {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 20px;
    justify-content: center;
}

li {
    border: 2px solid #2d2e2e;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    background-color: #000000b6;
    box-shadow: #ffffff3e 0px 20px 30px -10px;
}

li:hover {
    transform: scale(1.05);
    transition: .2s;
    box-shadow: #04d6193e 0px 20px 30px -10px;
}

img {
    width: 100%;
    border-radius: 5px;
}

p {
    color: #eaa818d7;
}

h1 {
    text-align: center;
    color: #ffffffcd;
    margin-top: 25px;
}

.item-price {
    font-weight: bold;
    color: #ffffff9c;
}

span {
    color: rgb(161, 40, 13);
}

.item-descont {
    font-size: 13px;
    color: rgb(98, 185, 11);
}

.box-preta {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}
/*  FORMULARIO */
section.formulario {
    margin-top: 20px;
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

form input,
form textarea {
    width: 100%;
    background-color: #1d1d1da9;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
   
}

form textarea {
    resize: none;
    height: 150px;
}

form input::placeholder {
    color: #ffffff8b;
}

form textarea::placeholder {
    color: #ffffff8b;
}

form .rrsantos-enviar {
    margin-top: 20px;
    text-align: center;
    outline: none;
}

form .rrsantos-enviar input {
    width: 100px;
    background-color: #635914;
    color: #000;
    margin-bottom: 25px;
    font-weight: 700;
    cursor: pointer;
}
form .rrsantos-enviar input:hover {
    transform: scale(1.05);
    transition: .2s;
    box-shadow: #000 0px 20px 30px -10px;
}
form .rrsantos-enviar input:active {
    opacity: .4;
}

@media screen and (max-width: 1020px) {
    
}