* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.corpo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 30px;
    color: #f5f5f5ac;
}

p {
    font-size: 15px;
    color: #f5f5f5ac;
}

button {
    height: 30px;
    width: 80px;
    font-size: 15px;
    background-color: #b97808e2;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
}

button:hover {
    transform: scale(1.05);
    transition: .2s;
    opacity: .8;
    box-shadow: #000 0px 20px 30px -10px;
}

button:active {
    opacity: .4;
}

a {
    text-decoration: none;
    color: #000000d8;
}

span {
    color: #0fe344;
}

.box-mascara {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100vw;
    z-index: -1;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.415) 15%, rgba(10, 12, 16, 0.656) 50%, rgba(10, 12, 16, 0.678) 85%);
}

.box-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    width: 100vw;
}