/* GLOBAIS */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(img/download\ \(3\).jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

/* CABEÇALHO */

header {
    width: 100%;
    height: 180px;
    padding: 40px 4%;
    position: sticky;
    top: 0;
    background-color: #090909;
    box-shadow: #ffffff45 0px 20px 30px -10px;
}

.logo img {
    width: 130px;
}

.menu-abrir {
    display: none;
}

header>.interface {
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a {
    color: #ffffffca;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: rgb(98, 185, 11);
    transform: scale(1.08);
}

header ul {
    list-style: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

header .pedidos button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: #eaa818d7;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

header .pedidos button:hover {
    box-shadow: 2px 2px 8px #000000c6;
}

/* Menu Mobile */

.menu-abrir img {
    padding-right: 40px;
}

.menu-mobile {
    background-color: rgb(31, 30, 30);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .4s;
}

.menu-mobile.abrir {
    width: 70%;
}

.menu-mobile.abrir~.overlay-menu {
    display: block;
}

.menu-mobile .mobile-fechar img {
    width: 30px;
    height: 30px;
}

.menu-mobile .mobile-fechar {
    padding: 20px 6%;
}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover {
    background-color: #eaa818d7;
    color: #000;
}

.overlay-menu {
    background-color: #000000be;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 88888;
    display: none;
}

/* CORPO */

.ul-li {
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 20px;
    justify-content: center;
}

.order {
    border: 2px solid #2d2e2e;
    border-radius: 5px;
    padding: 5px;
    color: #ffffff;
    background-color: #000000b6;
    box-shadow: #ffffff3e 0px 20px 30px -10px;
}

.order:hover {
    transition: .2s;
    box-shadow: #04d6193e 0px 20px 30px -10px;
}

.icon-Zap {
    width: 50px;
    position: fixed;
    bottom: 15px;
    right: 25px;
    cursor: pointer;
}

img {
    width: 100%;
    border-radius: 5px;
}

p {
    color: #eaa818d7;
}

h1 {
    text-align: center;
    color: #ffffffcd;
    margin-top: 25px;
}

.item-price {
    font-weight: bold;
    color: #ffffff9c;
}

span {
    color: rgba(98, 185, 11, 0.884);
}

.item-descont {
    font-size: 13px;
    color: rgba(98, 185, 11, 0.723);
}

.box-preta {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

/*  FORMULARIO */
section.formulario {
    margin-top: 20px;
    padding: 80px 4%;
}

form {
    max-width: 300px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

form input,
form textarea {
    width: 100%;
    background-color: #1d1d1da9;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;

}

form textarea {
    resize: none;
    height: 150px;
}

form input::placeholder {
    color: #ffffff8b;
}

form textarea::placeholder {
    color: #ffffff8b;
}

form .rrsantos-enviar {
    margin-top: 20px;
    text-align: center;
    outline: none;
}

form .rrsantos-enviar input {
    width: 100px;
    background-color: #635914;
    color: #000;
    margin-bottom: 25px;
    font-weight: 700;
    cursor: pointer;
}

form .rrsantos-enviar input:hover {
    transform: scale(1.05);
    transition: .2s;
    box-shadow: #000 0px 20px 30px -10px;
}

form .rrsantos-enviar input:active {
    opacity: .4;
}


@media screen and (max-width: 1080px) {

    /*Cabeçalho*/

    .menu-desktop,
    .pedidos {
        display: none;
    }

    .header-logo img {
        width: 110px;
        margin-right: 220px;
    }

    .menu-abrir {
        display: block;
    }

    /*Corpo*/

    .ul-li {
        grid-template-columns: 200px 200px;
        gap: 10px;
    }

    .item-price {
        font-weight: bold;
        color: #ffffff9c;
        font-size: 14px;
    }

    form {
        max-width: 300px;
    }

    form .rrsantos-enviar input {
        margin-bottom: 50px;
    }


}